.glitch {
  position: relative; }

@keyframes noise-anim {
  0% {
    clip: rect(23px, 9999px, 23px, 0); }
  5% {
    clip: rect(11px, 9999px, 25px, 0); }
  10% {
    clip: rect(4px, 9999px, 30px, 0); }
  15% {
    clip: rect(11px, 9999px, 8px, 0); }
  20% {
    clip: rect(10px, 9999px, 16px, 0); }
  25% {
    clip: rect(22px, 9999px, 8px, 0); }
  30% {
    clip: rect(9px, 9999px, 14px, 0); }
  35% {
    clip: rect(24px, 9999px, 5px, 0); }
  40% {
    clip: rect(28px, 9999px, 20px, 0); }
  45% {
    clip: rect(25px, 9999px, 10px, 0); }
  50% {
    clip: rect(1px, 9999px, 16px, 0); }
  55% {
    clip: rect(11px, 9999px, 22px, 0); }
  60% {
    clip: rect(25px, 9999px, 11px, 0); }
  65% {
    clip: rect(24px, 9999px, 10px, 0); }
  70% {
    clip: rect(10px, 9999px, 29px, 0); }
  75% {
    clip: rect(21px, 9999px, 14px, 0); }
  80% {
    clip: rect(14px, 9999px, 20px, 0); }
  85% {
    clip: rect(18px, 9999px, 10px, 0); }
  90% {
    clip: rect(13px, 9999px, 14px, 0); }
  95% {
    clip: rect(5px, 9999px, 16px, 0); }
  100% {
    clip: rect(12px, 9999px, 27px, 0); } }
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
  color: #E88833;
  background: white; }

@keyframes noise-anim-2 {
  0% {
    clip: rect(3px, 9999px, 18px, 0); }
  5% {
    clip: rect(4px, 9999px, 30px, 0); }
  10% {
    clip: rect(18px, 9999px, 12px, 0); }
  15% {
    clip: rect(14px, 9999px, 22px, 0); }
  20% {
    clip: rect(1px, 9999px, 18px, 0); }
  25% {
    clip: rect(10px, 9999px, 3px, 0); }
  30% {
    clip: rect(28px, 9999px, 28px, 0); }
  35% {
    clip: rect(30px, 9999px, 21px, 0); }
  40% {
    clip: rect(27px, 9999px, 4px, 0); }
  45% {
    clip: rect(12px, 9999px, 6px, 0); }
  50% {
    clip: rect(19px, 9999px, 27px, 0); }
  55% {
    clip: rect(28px, 9999px, 23px, 0); }
  60% {
    clip: rect(1px, 9999px, 1px, 0); }
  65% {
    clip: rect(23px, 9999px, 1px, 0); }
  70% {
    clip: rect(19px, 9999px, 4px, 0); }
  75% {
    clip: rect(26px, 9999px, 19px, 0); }
  80% {
    clip: rect(22px, 9999px, 14px, 0); }
  85% {
    clip: rect(12px, 9999px, 16px, 0); }
  90% {
    clip: rect(20px, 9999px, 28px, 0); }
  95% {
    clip: rect(25px, 9999px, 13px, 0); }
  100% {
    clip: rect(29px, 9999px, 29px, 0); } }
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
  color: #E88833;
  background: white; }
