
body {
    width: 40em;
}

pre.screen {
    border: 1px solid gray;
    background-color: #eeffee;
    padding: 0em 1em 0em 1em;
}

pre.programlisting {
    border: 1px solid gray;
    background-color: #eeeeff;
    padding: 0em 1em 0em 1em;
}

h2, h3 {
    text-align: center;
}

code.classname {
    color: #005500;
}

code.function {
    color: #550000;
}

